:root {
  --star-size: 35px;
  --star-color: #ebebeb;
  --star-background: #002554;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-page {
}

.header {
  width: 100%;
  height: 106px;
  background-color: brown;
}

.banner {
  height: 33px;
  width: 100%;
  background-color: #002554;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.main-header {
  background-color: white;
  width: 100%;
  height: 73px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 45px 0px 45px;
}

.item-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-item {
  color: #002554;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: lowercase;
}

.icon-search,
.icon-cart {
  cursor: pointer;
}

#menu-icon {
  cursor: pointer;
  border-radius: 4px;
  width: 25px;
  font-weight: 600;
  text-align: center;
  height: 25px;
  border: 2px solid rgba(0, 0, 0, 0.064);
}

.content-store {
  padding: 0px 30px 100px 30px;
  width: 85%;
  min-height: 833.641px;
  background-color: white;
  justify-content: space-between;
  margin: auto;
  display: flex;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-product {
  width: 527px;
  height: 702.664px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-product {
  width: 100%;
  height: 100%;
  background: url("./img/pic2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn-group {
  display: flex;
  max-width: 527px;
  height: 24px;
  padding: 6px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}

.btn-slide {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: rgba(0, 37, 84, 0.6);
}

.active {
  background: #002554;
}

.buy-now {
  min-width: 320px;
  min-height: 785px;
  margin-top: 48px;
  padding-top: 50px;
  background-color: rgb(255, 255, 255);
}

.title-product {
  display: flex;
  width: 246.528px;
  height: 165.164px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #002554;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 49.5px;
}

.review-rating-product {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.reviews-product {
  color: #002554;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  /* 106.25% */
}

.description-product {
  color: #686d73;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 160% */
}

.select-product {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  border: 2px solid #f1f4f7;
  width: 316px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-select {
  width: 28px;
  height: 28px;
  background: url("./img/pic1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.title-select {
  color: #002554;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.title-select-plan {
  margin-top: 25px;
  color: #686d73;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.option-1 {
  margin-top: 10px;
  border-radius: 4px;
  border: 2px solid #f1f4f7;
  width: 316px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.wrapper-title-option-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.label-circle {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #002554;
}

.title-option-1 {
  color: #002554;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  /* 200% */
  text-transform: lowercase;
}

.price-option-1 {
  color: #002554;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-transform: lowercase;
}

.option-2 {
  margin-top: 20px;
  width: 316px;
  height: 176px;
  border-radius: 4px;
  border: 2px solid #002554;
  background: #fff;
}

.header-option-2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.wrapper-title-option-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title-option-2 {
  color: #002554;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 213.333% */
  text-transform: lowercase;
}

.label-circle-2 {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #000;
}

.label-circle-2 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background: #0052bd;
}

.price-main {
  color: #b30000;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 200% */
  text-transform: lowercase;
}

.price-save {
  margin-top: -13px;
  margin-left: 5px;
  color: #b30000;
  font-family: Arial;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 222.222% */
  text-transform: lowercase;
}

.deliver-every {
  padding: 0px 15px;
  margin-top: -10px;
  color: #002554;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 200% */
  text-transform: lowercase;
}

.content-option-2 {
  display: flex;
  width: 278px;
  height: 48px;
  margin: auto;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #f1f4f7;
  background: #fff;
  color: #000;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.footer-option-2 {
  color: #4e4e4e;
  padding: 10px 0px 0px 17px;

  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  /* 133.333% */
  text-transform: lowercase;
}

.quantily {
  margin-top: 20px;
  display: inline-flex;
  padding: 14.5px 16.8px 19px 17px;
  justify-content: center;
  align-items: center;
  gap: 111px;
  border-radius: 4px;
  border: 1px solid #002554;
}

.btn-buy-now {
  cursor: pointer;
  display: flex;
  width: 320px;
  height: 62px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #002554;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
}

.nummer-quantily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-decrement,
.btn-increment,
.nummer-quantily {
  cursor: pointer;
  color: #002554;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.header-review {
  min-height: 134px;
  padding: 20px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.line-header-review {
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 90%;
  margin-bottom: 10px;
  background-color: #e9e9e9;
}

.review-statistics {
  display: flex;
  gap: 85px;
}

.star-reviews {
  display: flex;
}

.number-star-review {
  color: #002554;
  font-size: 64px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
}

.total-review {
  color: #002554;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 116%;
}

.rate-review-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #002554;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
}

.number-star {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.number-star span {
  margin-top: 3px;
}

.wrapper-rate-review {
  margin-top: 43px;
  margin-left: 10px;
}

.stars {
  margin-left: -13px;
  margin-top: -7px;
  position: relative;
  padding: 1rem;
  white-space: nowrap;
  display: flex;
  gap: 3px;
}

.stars svg {
  width: 27px;
}

.cover {
  background: rgb(230, 228, 228);
  height: 100%;
  overflow: hidden;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  right: 0;
}

.stars svg {
  fill: #002554;
}

.rating-bar {
  margin: 5px;
  width: 273px;
  height: 18px;
  border-radius: 3px;
  background-color: #ebebeb;
  position: relative;
}

.rating-fill {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  height: 100%;
  background-color: #002554;
  width: var(--rating);
}

.write-review {
  margin-top: -70px;
}

.btn-write-review {
  display: flex;
  width: 184px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #002554;
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.045em;
  text-decoration: none;
}

.powered {
  margin-top: 5px;
  text-align: center;
  color: #727272;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  /* 17.4px */
}

.link-omega {
  cursor: pointer;
  text-decoration: underline;
}

.sort-review {
  margin-top: 50px;
  min-height: 85px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 45px;
}

.lable-sort,
.lable-filter {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 116%;
  /* 17.4px */
}

.sort-by,
.filter-by {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-sort-by {
  border: none;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 116%;
  /* 17.4px */
  text-decoration-line: underline;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
}

.select-selected {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  max-width: 185px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: -4px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000000 transparent transparent transparent;
}

.select-items div,
.select-selected {
  color: #080808;
  padding: 8px 16px;

  font-family: "Inter", sans-serif;
  border: 1px solid transparent;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 20px 6px rgba(0, 0, 0, 0.13);
  width: 175px;
  margin-left: -20px;
  padding: 8px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div {
  text-decoration: none;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  border-radius: 3px;
  border: 1px solid #cfcfcf;
}

.custom-select-star {
  margin-left: 5px;
  position: relative;
  font-family: Arial;
}

.custom-select-star select {
  display: none;
}

.select-selected-star {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  width: 30px;
}

.select-selected-star:after {
  position: absolute;
  content: "";
  top: 16px;
  margin-top: 2px;
  right: 4px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000000 transparent transparent transparent;
}

.select-items-star div,
.select-selected-star {
  color: #080808;
  padding: 8px 25px;
  font-family: "Inter", sans-serif;
  border: 1px solid transparent;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

.select-items-star div::before {
  content: "";
  position: absolute;
  left: 14px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #aaa;
  background-color: transparent;
  pointer-events: none;
}

.select-items-star div:nth-child(1)::before {
  top: calc(27% - 28px);
}

.select-items-star div:nth-child(2)::before {
  top: calc(39% - 14px);
}

.select-items-star div:nth-child(3)::before {
  top: 50%;
}

.select-items-star div:nth-child(4)::before {
  top: calc(62% + 14px);
}

.select-items-star div:nth-child(5)::before {
  top: calc(74% + 28px);
}

.select-items-star .selected::before {
  background-color: #080808;
}

.select-items-star {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 20px 6px rgba(0, 0, 0, 0.13);
  width: 156px;
  margin-left: -110px;
  padding: 8px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items-star div {
  text-decoration: none;
}

.select-hide {
  display: none;
}

.select-items-star div:hover,
.same-as-selected-star {
  border-radius: 3px;
  border: 1px solid #cfcfcf;
}

.stars_review {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.stars_review::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: flex;

  justify-content: center;
  text-align: center;
}

.pick_star {
  display: flex;
  font-size: 50px;
  margin: 10px;
  color: gray;
  cursor: pointer;
}

.rating div:hover .pick_star,
.rating div:hover ~ div .pick_star {
  color: gold;
}

.pick_star.selected {
  color: gold;
}

.landing_page {
}
.name_author {
  color: #727272;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.review_date {
  color: #727272;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.review_desc {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal_thankyou {
  align-items: center;
}

.modal_thankyou .modal-content {
  min-width: 400px;
  padding: 4rem;
}

.modal.modal-show {
  animation: fadeIn 0.1s ease-in-out forwards;
}
.modal.modal-hide {
  animation: fadeOut 0.1s ease-in-out 0.1s forwards;
}
.modal-content {
  position: relative;
  background-color: #fff;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 645px;
  overflow: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
}
.modal.modal-show .modal-content {
  animation: fadeInDown 0.3s ease-in-out forwards;
}
.modal.modal-hide .modal-content {
  animation: fadeOutUp 0.2s ease-in-out forwards;
}
.modal-content h1 {
  margin-bottom: 2rem;
}
.modal-content p {
  margin: 1rem 0;
  line-height: 1.5rem;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0 0.75rem;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}
.modal-close:hover,
.modal-close:focus {
  color: rgba(0, 0, 0, 0.5);
}

.review_infor {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 651px) {
  .review_infor {
    display: block;
  }
}

.input-block {
  margin: 20px 0;
  width: 100%;
}

.submit_content {
  padding: 15px 40px;
  background-color: #002554;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.submit_content:disabled {
  background-color: #c6c6c6;
  cursor: not-allowed;
}

.inline_err {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-3rem);
  }
}

div.input-block {
  position: relative;
}
div.input-block input {
  font-weight: 500;
  font-size: 1.2rem;
  color: #495055;
  width: 97%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  outline: none;
}
div.input-block span.placeholder {
  position: absolute;
  background-color: white;
  margin: 17px 0;
  padding: 0 4px;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  top: -30px;
  left: 20px;
}

div.input-block textarea {
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #d9d9d9;
  outline: none;
  width: 97%;
  max-width: 100%;
  height: auto;
  resize: vertical;
}
div.input-block span.placeholder_textarea {
  position: absolute;
  background-color: white;
  margin: 17px 0;
  padding: 0 4px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  top: -30px;
  left: 20px;
}
.inline_err {
  color: red;
}

/* === */

.upload_image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed #d9d9d9;
  border-radius: 5px;
  margin: 20px 0;
  cursor: pointer;
}

.upload_image:hover {
  background-color: #d9d9d9;
  border: 1px dashed #585858;
}

.upload_image p {
  font-family: "Inter", sans-serif;
  padding: 0 9px;
}

.image-container {
  position: relative;
}

.preview_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  margin: 0 10px;
}

.img-close {
  cursor: pointer;
  position: absolute;
  left: 68px;
  font-size: 0.8em;
  width: 18px;
  top: -6px;
  background-color: #070707d0;
  color: #f5f5f5;
  border-radius: 50%;
}
.review_container {
  width: 90%;
  margin: 10px auto;
}

.review_list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}
.review_item:nth-child(2n + 1) {
  grid-row-end: span 2;
}
@media (max-width: 1100px) {
  .review_list_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .review_list_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .review_list_container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.review_item {
  /* min-height: 200px; */
  height: max-content;
  border-radius: 12px;
  border: 1px solid #002554;
}

.review_item .review_image {
  width: 100%;
  object-fit: contain;
}

.review_item .like_icon {
  display: flex;
  align-items: center;
}

.review_item .review_item_content {
  padding: 10px;
}

.review_item .like_icon .numbers_like {
  margin-left: 5px;
}

.icon_review_like:hover {
  background-color: #fff;
  opacity: 0.7;
}

.landing-page .pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.landing-page .pagination button {
  display: flex;
  width: 140px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 1px solid #c5d5eb;
  font-family: "Inter", sans-serif;
}

.landing-page .pagination .previous {
  margin-left: 10px;
  color: #727272;
  font-family: "Inter", sans-serif;
}

.landing-page .pagination .next {
  margin-left: 10px;
  font-family: "Inter", sans-serif;
}

.stars-2 {
  margin-top: -7px;
  position: relative;
  padding: 1rem 0 rem;
  white-space: nowrap;
  display: flex;
  gap: 3px;
  width: 140px;
}

.stars-2 svg {
  width: 27px;
}

.cover2 {
  background: rgb(230, 228, 228);
  height: 100%;
  overflow: hidden;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  right: 0;
}

.stars-2 svg {
  fill: #002554;
}

.stars-3 {
  margin-top: -7px;
  position: relative;
  padding: 1rem 0 rem;
  white-space: nowrap;
  display: flex;
  width: 120px;
}

.stars-3 svg {
  width: 27px;
  fill: #002554;
}
